<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withlove admin</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
           <img src="../img/logo.png" width="60px" height="60px" alt=""> <h2>WithLove</h2>
        </div>
    <div class="sidebar-menu">
        <ul> 
            <li>
                <a href="" class="active">
                    <span class="las la-igloo">
                        <span>
                            Admin Dashboard
                        </span>
                </span></a>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listPatients}">
                    <span class="las la-users">
                        <span>
                            <button  class="btnTable">Patients</button>
                        </span>
                            
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listPro}">
                    <span class="las la-users">
                        <span>
                            <button  class="btnTable">Professionals</button></a>
                        </span>
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listCategory}">
                    <span class="las la-users">
                        <span>
                            <button  class="btnTable">Categories</button>
                        </span>
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listAppointment}">
                    <span class="las la-clipboard-list">
                        <span>
                            <button  class="btnTable">Appointment</button></a>
                        </span>
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listAvaila}">
                    <span class="las la-clipboard-list">
                        <span>
                            <button  class="btnTable">Availability</button></a>
                        </span>
                </span></a>
            </div>
            </li>
        </ul>
    </div>
</div>
    <div class="main-content">
        <div class="headerOne">
            <h2>
                Admin Dashboard
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here">
            </div>
        </div>
            <header class="header" data-header>
                <div class="container">
                  <div class="overlay" data-overlay></div>
                  <a href="#" class="logo">
                    <img src="../img/logo.png" width="60" height="60" alt="" />
                  </a>
          
                  <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
                    <ion-icon name="menu-outline"></ion-icon>
                  </button>
          
                  <nav class="navbar" data-navbar>
                    <button
                      class="nav-close-btn"
                      data-nav-close-btn
                      aria-label="Close Menu"
                    >
                      <ion-icon name="close-outline"></ion-icon>
                    </button>
          
                    <a href="#" class="logo">
                      <img
                        src="../img/logo.png"
                        width="80"
                        height="60"
                        alt="Footcap logo"
                      />
                    </a>
          
                    <ul class="navbar-list">
                        <li class="navbar-item">
                            <a href="#" class="navbar-link">Dashboard admin</a>
                          </li>
                      <li class="navbar-item">
                        <a th:href="@{/listPatients}" class="navbar-link">               
                            <span class="las la-users">
                                <span>
                                    <button  class="btnTable">Patients</button>
                                </span> 
                        </span></a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listPro}" class="navbar-link">
                                <span class="las la-users">
                                    <span>
                                        <button  class="btnTable">Professionals</button></a>
                                    </span>
                            </span>
                        </a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listCategory}" class="navbar-link">                
                            <span class="las la-users">
                                <span>
                                    <button  class="btnTable">Categories</button>
                                </span>
                        </span>
                    </a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listAppointment}" class="navbar-link">       
                            <span class="las la-clipboard-list">
                                <span>
                                    <button  class="btnTable">Appointment</button></a>
                                </span>
                        </span></a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listAvaila}" class="navbar-link">            
                            <span class="las la-clipboard-list">
                                <span>
                                    <button  class="btnTable">Availability</button></a>
                                </span>
                        </span></a>
                      </li>
          

                    </ul>
          

                  </nav>
                </div>
              </header>
        <main>

            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>54</h1>
                        <span>Patients</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>79</h1>
                        <span>Professionals</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>54</h1>
                        <span>Appointment</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>124</h1>
                        <span>Schedule</span>
                </div>
                <div>
                    <span class="las la-clipboard-list"></span>
                </div>
                </div>
            </div>
        </main>
    </div>
<script src="script.js"></script>
<script
type="module"
src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
nomodule
src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
</body>
</html>