<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withlove admin</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styleTable.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
           <img src="../img/logo.png" width="60px" height="60px" alt=""> <h2>WithLove</h2>
        </div>
    <div class="sidebar-menu">
        <ul> 
            <li>
                <a href="" class="active">
                    <span class="las la-igloo">
                        <span>
                            Admin Dashboard
                        </span>
                </span></a>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listPatients}">
                    <span class="las la-users">
                        <span>
                            <button  class="btnTable">Patients</button>
                        </span>
                            
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listPro}">
                    <span class="las la-users">
                        <span>
                            <button  class="btnTable">Professionals</button></a>
                        </span>
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listCategory}">
                    <span class="las la-users">
                        <span>
                            <button  class="btnTable">Categories</button>
                        </span>
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listAppointment}">
                    <span class="las la-clipboard-list">
                        <span>
                            <button  class="btnTable">Appointment</button></a>
                        </span>
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listAvaila}">
                    <span class="las la-clipboard-list">
                        <span>
                            <button  class="btnTable">Availability</button></a>
                        </span>
                </span></a>
            </div>
            </li>
        </ul>
    </div>
</div>
    <div class="main-content">
        <div class="headerOne">
            <h2>
                Admin Dashboard
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here">
            </div>
        </div>
            <header class="header" data-header>
                <div class="container">
                  <div class="overlay" data-overlay></div>
                  <a href="#" class="logo">
                    <img src="../img/logo.png" width="60" height="60" alt="" />
                  </a>
          
                  <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
                    <ion-icon name="menu-outline"></ion-icon>
                  </button>
          
                  <nav class="navbar" data-navbar>
                    <button
                      class="nav-close-btn"
                      data-nav-close-btn
                      aria-label="Close Menu"
                    >
                      <ion-icon name="close-outline"></ion-icon>
                    </button>
          
                    <a href="#" class="logo">
                      <img
                        src="../img/logo.png"
                        width="80"
                        height="60"
                        alt="Footcap logo"
                      />
                    </a>
          
                    <ul class="navbar-list">
                        <li class="navbar-item">
                            <a href="#" class="navbar-link">Dashboard admin</a>
                          </li>
                      <li class="navbar-item">
                        <a th:href="@{/listPatients}" class="navbar-link">               
                            <span class="las la-users">
                                <span>
                                    <button  class="btnTable">Patients</button>
                                </span> 
                        </span></a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listPro}" class="navbar-link">
                                <span class="las la-users">
                                    <span>
                                        <button  class="btnTable">Professionals</button></a>
                                    </span>
                            </span>
                        </a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listCategory}" class="navbar-link">                
                            <span class="las la-users">
                                <span>
                                    <button  class="btnTable">Categories</button>
                                </span>
                        </span>
                    </a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listAppointment}" class="navbar-link">       
                            <span class="las la-clipboard-list">
                                <span>
                                    <button  class="btnTable">Appointment</button></a>
                                </span>
                        </span></a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listAvaila}" class="navbar-link">            
                            <span class="las la-clipboard-list">
                                <span>
                                    <button  class="btnTable">Availability</button></a>
                                </span>
                        </span></a>
                      </li>
          

                    </ul>
          

                  </nav>
                </div>
              </header>

        <main>

            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>54</h1>
                        <span><a href="">Patients</a></span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>79</h1>
                        <span>Professionals</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>54</h1>
                        <span>Appointment</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>124</h1>
                        <span>Schedule</span>
                </div>
                <div>
                    <span class="las la-clipboard-list"></span>
                </div>
                </div>
            </div>
            <section class="sectionTable">
                <div class="recent_order">
                            <table>
                                <thead>
                                <tr>
                                    <td colspan="5" >
                                        <div class="containerTable">
                                            <div class="table_header"> 
                                                <h1>Patients</h1>
                                                <a th:href="@{/addAppo}"><button type="button" id="btnAdd" class="btnAddTable">Add Patient</button></a>
                                                <div class="search-wrapper">
                                                    <span class="las la-search"></span>
                                                    <input type="search" placeholder="Search here">
                                                </div>
                                            </div>
                                    </td>
                                </tr>
                        <tr class="tr-thead-color">
                            <th scope="col">Identification</th>
                            <th scope="col">Names</th>
                            <th scope="col">Insurer</th>
                            <th scope="col">Actions</th>
            
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pat:${ListPatients}">
                            <td><h3 th:text="${pat.identification}"></h3></td>
                            <td><h3 th:text="${pat.firstNames}"></h3></td>
                            <td><h3 th:text="${pat.insurer}"></h3></td>
                            <td width="130"><a th:href="@{/showPatient/}+${pat.identification}"><img src="../img/show.png" width="30" height="30" class="icons"></a> <a th:href="@{/updatePat/}+${pat.identification}"><img src="../img/edit.png" width="30" height="30" class="icons"></a>  <a th:href="@{/deletePat/}+${pat.identification}"><img src="../img/delete.png" width="30" height="30" class="icons"></a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </section>
        </main>
        </div>
    </div>
</div>
<script src="../script.js"></script>
<script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
</body>
</html>