<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withlove admin</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styleTable.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
           <img src="../img/logo.png" width="60px" height="60px" alt=""> <h2>WithLove</h2>
        </div>
    <div class="sidebar-menu">
        <ul> 
            <li>
                <a href="" class="active">
                    <span class="las la-igloo">
                        <span>
                            Admin Dashboard
                        </span>
                </span></a>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listPatients}">
                    <span class="las la-users">
                        <span>
                            <button  class="btnTable">Patients</button>
                        </span>
                            
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listPro}">
                    <span class="las la-users">
                        <span>
                            <button  class="btnTable">Professionals</button></a>
                        </span>
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listCategory}">
                    <span class="las la-users">
                        <span>
                            <button  class="btnTable">Categories</button>
                        </span>
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listAppointment}">
                    <span class="las la-clipboard-list">
                        <span>
                            <button  class="btnTable">Appointment</button></a>
                        </span>
                </span></a>
            </div>
            </li>
            <li>
                <div class="container-fun-btn">
                <a th:href="@{/listAvaila}">
                    <span class="las la-clipboard-list">
                        <span>
                            <button  class="btnTable">Availability</button></a>
                        </span>
                </span></a>
            </div>
            </li>
        </ul>
    </div>
</div>
    <div class="main-content">
        <div class="headerOne">
            <h2>
                Admin Dashboard
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here">
            </div>
        </div>
            <header class="header" data-header>
                <div class="container">
                  <div class="overlay" data-overlay></div>
                  <a href="#" class="logo">
                    <img src="../img/logo.png" width="60" height="60" alt="" />
                  </a>
          
                  <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
                    <ion-icon name="menu-outline"></ion-icon>
                  </button>
          
                  <nav class="navbar" data-navbar>
                    <button
                      class="nav-close-btn"
                      data-nav-close-btn
                      aria-label="Close Menu"
                    >
                      <ion-icon name="close-outline"></ion-icon>
                    </button>
          
                    <a href="#" class="logo">
                      <img
                        src="../img/logo.png"
                        width="80"
                        height="60"
                        alt="Footcap logo"
                      />
                    </a>
          
                    <ul class="navbar-list">
                        <li class="navbar-item">
                            <a href="#" class="navbar-link">Dashboard admin</a>
                          </li>
                      <li class="navbar-item">
                        <a th:href="@{/listPatients}" class="navbar-link">               
                            <span class="las la-users">
                                <span>
                                    <button  class="btnTable">Patients</button>
                                </span> 
                        </span></a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listPro}" class="navbar-link">
                                <span class="las la-users">
                                    <span>
                                        <button  class="btnTable">Professionals</button></a>
                                    </span>
                            </span>
                        </a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listCategory}" class="navbar-link">                
                            <span class="las la-users">
                                <span>
                                    <button  class="btnTable">Categories</button>
                                </span>
                        </span>
                    </a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listAppointment}" class="navbar-link">       
                            <span class="las la-clipboard-list">
                                <span>
                                    <button  class="btnTable">Appointment</button></a>
                                </span>
                        </span></a>
                      </li>
          
                      <li class="navbar-item">
                        <a th:href="@{/listAvaila}" class="navbar-link">            
                            <span class="las la-clipboard-list">
                                <span>
                                    <button  class="btnTable">Availability</button></a>
                                </span>
                        </span></a>
                      </li>
          

                    </ul>
          

                  </nav>
                </div>
              </header>
        <main>

            <div class="modal-body">
                <div class="container-form">
                    <section class="section-head">
                         <h1>Update Category</h1>
                        </section>
                            <form  th:action="@{/updateCategory/}+${updateCategory.idCategory}" method="post">
                                <div class="mb-3">
                                    <label for="idCategory">Id Category:</label>
                                    <input type="number" id="idCategory" name="idCategory"  th:value="${UpdatePa.IdPatient}" disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="categoryName">Category name:</label>
                                    <input type="text" id="categoryName" name="categoryName" th:value="${UpdateCa.IdCategory}"  required>
                                </div>
                                <div class="btn-form">
                                    <div class="modal-footer">
                                        <a th:href="@{/listCategory}"><button type="button" class="btn-secondary" data-bs-dismiss="modal">Back</button></a>
                                     </div>
                                <div class="btn-submit">
                                <button type="submit" class="btn-secondary">Update</button>
                            </div>
                            </form>
                    </div>
        </main>
        </div>
    </div>
</div>
<script src="../script.js"></script>
<script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
</body>
</html>